<h1>Requirements#index</h1>
<p>Find me in app/views/requirements/index.html.erb</p>

<%= form_with(model: Requirement.new, local: true ) do |f| %>

 <%= f.text_field :title %>
 <%= f.text_area :description %>
 <%= f.submit :Publicar %>

<% end %>

<% @requirements.each do |requirement| %>
 <div class="col-md-4">
  <h3><%= requirement.title %></h3>
  <p><%= requirement.description %></p>
  <br>
 </div>
<% end %>