<!DOCTYPE html>
<html>
  <head>
    <title>RankmiJr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="fUC_5lUUSyUauW3_cHaJT1-5YLxAkwsvMUPpcdjwr2g" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <% if notice.present? %>
      <div class="alert alert-success alert-dismissable col-md-6 col-md-offset-3">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= notice %></strong>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger alert-dismissable col-md-6 col-md-offset-3">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= alert %></strong>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
